body
    font-family: 'PT Sans', sans-serif
    color: #eee
    background-color: #090909

.container
    display: grid
    grid-template-columns: auto
    justify-content: center
    margin-top: 5rem
    grid-gap: 1.5rem

header
    font-family: 'Press Start 2P', cursive
    font-size: 32px

.grid-dimensions
    display: flex
    justify-content: space-evenly

.grid-input,
.grid-btn
    align-self: flex-end

label
    display: block
    margin-bottom: 0.8rem

.color-input .grid-dimensions
    flex-direction: column

#color
    width: 5rem
    height: 2rem

tr,
td
    width: 7px
    height: 7px
    padding: 5px
    border: 1px solid #eee